#fssmall{
    font-size:15px;
    text-decoration: line-through;
}
#fs1
{
    width:200px;
    height: 175px;
}
#fs2
{
    width:200px;
    height:175px;
}
#ssmall{
    font-size: 15px;
}
#flash1{
    background-color:#FFAB5B ;
}
.card-body{
    background-color: #FFC785;
}